HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn
src/main/java/by/morunov/socialnetwork/controllers
src/main/java/by/morunov/socialnetwork/exceptions
src/main/java/by/morunov/socialnetwork/service
src/main/java/by/morunov/socialnetwork/util
src/main/java/by/morunov/socialnetwork/model/dto
src/test
mvnw
mvnw.cmd
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
